* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

body {
  font-family: "Segoe UI", system-ui;
  background: #0a0a0a;
  color: #ffffff;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  padding: 120px 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

p {
  color: #cfcfcf;
  max-width: 700px;
  line-height: 1.8;
}
